<ul class="subfolders">
  <% subfolders.each do |subfolder| %>
    <li class="folder">
      <% if @folder.present? %>
        <%= link_to subfolder.name, user_folder_path(@user, @folder, subfolder_id: subfolder.id, id: @folder.id) %>
      <% else %>
        <%#= link_to subfolder.name, user_folder_path(@user, subfolder_id: subfolder.id) %>
      <% end %>

      <% if subfolder.children.any? %>
        <%= render partial: 'subfolders', locals: { subfolders: subfolder.children } %>
      <% end %>
    </li>
  <% end %>
</ul>
