<%= @user.email%>
<ul>
  <% if @folders.present? %>
    <% @folders.each do |folder| %>
    <li>
      <%= link_to folder.parent_id, user_folder_path(@user, folder) %>
      <%= button_to 'Delete', user_folder_path(@user.id, folder), data: { confirm: 'Are you sure?' }, method: :delete%>

    </li>
    <% end %> 
  <% else %>
    <li>No folders found.</li>
  <% end %>
</ul>

<%= link_to 'New Folder', new_user_folder_path %>