<ul>
  <% if @folders %>
    <% @folders.each do |folder| %>
      <%= link_to folder.name, user_folder_path(@user, folder) %>
    <% end %>
  <% else %>
    <li>No folders found.</li>
  <% end %>
</ul>
<%= current_user.user_id%>
<%= link_to 'New Folder', new_user_folder_path %>