<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @subfolders.each do |sub| %>
      <tr>
      <% if sub.folder_id == @current_folder.id %>
        <td><%= sub.name%></td>
        <td><%= sub.id %></td>
        <td><%= link_to 'Show', subfolder_path(sub.id) %></td>
      <% else %>
      <% end %>
      </tr>
    <% end %>
    
  </tbody>
</table>


<h1>Files </h1>

