

<% @subfolders.each do | sub |%>
  
  <% if sub.folder_id == @current_folder.id %>
    <%= link_to sub.name, user_folder_subfolder_path(@user,@folder,sub, folder_id: @folder.id) %>
  <% else %>
  
  <% end %>
<% end %>


<h1>Files </h1>

<%= link_to 'New Subfolder', new_user_folder_subfolder_path(@user, @folder) %>
