<nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="#" class="nav-link">
          <span class="link-text logo-text">CEUARCH</span>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <svg width="800px" height="800px" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M58.38 21.701C58.3845 22.4886 58.1675 23.2616 57.7538 23.9318C57.34 24.6019 56.7461 25.1423 56.0399 25.491L34.27 36.371C33.6842 36.6676 33.0366 36.8218 32.38 36.821C31.7233 36.8218 31.0758 36.6676 30.49 36.371L8.71994 25.491C8.01597 25.1422 7.42371 24.6032 7.01016 23.9352C6.59662 23.2671 6.37835 22.4967 6.37998 21.711C6.37694 20.9238 6.59455 20.1514 7.00815 19.4815C7.42174 18.8116 8.01474 18.271 8.71994 17.921L30.49 7.04104C31.0765 6.74751 31.7241 6.59674 32.38 6.60104C33.0358 6.59674 33.6835 6.74751 34.27 7.04104L56.0399 17.921C56.7439 18.2699 57.3362 18.8089 57.7497 19.4769C58.1633 20.1449 58.3816 20.9154 58.38 21.701Z" fill="#999999"/>
            <path d="M56.04 27.9509C56.7452 28.3009 57.3382 28.8415 57.7518 29.5114C58.1654 30.1813 58.383 30.9537 58.38 31.741C58.3816 32.5266 58.1633 33.2971 57.7498 33.9651C57.3362 34.6331 56.744 35.1721 56.04 35.521L34.27 46.4109C33.6818 46.6997 33.0353 46.8502 32.38 46.851C31.7247 46.8502 31.0782 46.6997 30.49 46.4109L8.71998 35.521C8.01722 35.1715 7.42642 34.6322 7.0146 33.964C6.60277 33.2959 6.38643 32.5258 6.39002 31.741C6.38547 30.9534 6.60242 30.1804 7.01618 29.5102C7.42995 28.84 8.02383 28.2997 8.72999 27.9509L8.95002 27.8409L13.42 30.0809L29.6 38.1609C30.4632 38.5928 31.4148 38.8187 32.38 38.821C33.3484 38.8187 34.3032 38.5928 35.17 38.1609L51.34 30.0809L55.82 27.8409L56.04 27.9509Z" fill="#000000"/>
            <path d="M56.04 37.991C56.7439 38.3399 57.3362 38.8788 57.7497 39.5468C58.1633 40.2149 58.3816 40.9853 58.38 41.771C58.3816 42.5567 58.1633 43.3271 57.7497 43.9951C57.3362 44.6631 56.7439 45.2021 56.04 45.551L34.27 56.441C33.6842 56.7376 33.0366 56.8918 32.38 56.891C31.7234 56.8918 31.0758 56.7376 30.49 56.441L8.71996 45.551C8.0172 45.2015 7.4264 44.6622 7.01458 43.9941C6.60275 43.3259 6.38641 42.5558 6.39 41.771C6.3843 40.9857 6.59977 40.2147 7.01183 39.5462C7.42389 38.8777 8.01586 38.3387 8.71996 37.991L8.95 37.871L13.43 40.111L29.61 48.201C30.4708 48.6285 31.4189 48.851 32.38 48.851C33.3442 48.8499 34.2952 48.6275 35.16 48.201L51.35 40.111L55.81 37.871L56.04 37.991Z" fill="#999999"/>
            </svg>
          <span class="link-text">Departments</span>
        </a>      
      </li>

      <li class="nav-item">
      
        <a href="#" class="nav-link">
          <svg width="50px" height="50px" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M51.67 17.8711H32.67C32.1395 17.8711 31.6309 17.6604 31.2558 17.2853C30.8807 16.9102 30.67 16.4015 30.67 15.8711V14.8711C30.67 13.2798 30.0378 11.7537 28.9126 10.6285C27.7874 9.50325 26.2613 8.87109 24.67 8.87109H11.67C10.0787 8.87109 8.55259 9.50325 7.42737 10.6285C6.30215 11.7537 5.66998 13.2798 5.66998 14.8711V49.7511C5.66998 51.3424 6.30215 52.8685 7.42737 53.9937C8.55259 55.119 10.0787 55.7511 11.67 55.7511H51.67C53.2613 55.7511 54.7874 55.119 55.9126 53.9937C57.0378 52.8685 57.67 51.3424 57.67 49.7511V23.8711C57.67 22.2798 57.0378 20.7537 55.9126 19.6285C54.7874 18.5032 53.2613 17.8711 51.67 17.8711Z" fill="#999999"/>
            </svg>
          <span class="link-text">Folders</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <svg width="800px" height="800px" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.74 49.8409V49.8309C44.2256 49.1891 42.9336 48.1158 42.0249 46.7448C41.1162 45.3738 40.6311 43.7657 40.63 42.1209C40.6298 40.4533 41.1278 38.8237 42.06 37.4409V37.4309C42.3099 37.0433 42.4194 36.5818 42.3702 36.1232C42.3211 35.6647 42.1163 35.2368 41.79 34.9109C41.2753 34.4025 40.7311 33.925 40.16 33.481C38.8787 32.4758 37.4613 31.6576 35.95 31.0509C37.4097 29.8927 38.5888 28.4196 39.3992 26.7417C40.2096 25.0637 40.6303 23.2244 40.63 21.361C40.6247 18.0792 39.3187 14.9333 36.9981 12.6128C34.6776 10.2922 31.5318 8.98625 28.25 8.98096C24.9682 8.98625 21.8224 10.2922 19.5018 12.6128C17.1813 14.9333 15.8753 18.0792 15.87 21.361C15.8692 23.2254 16.2908 25.0659 17.1031 26.7441C17.9154 28.4224 19.0973 29.8948 20.56 31.0509C17.2589 32.3923 14.4324 34.6869 12.4412 37.6418C10.4499 40.5966 9.38416 44.0778 9.38 47.641V52.5009C9.38159 53.0309 9.5928 53.5387 9.96753 53.9134C10.3423 54.2882 10.8501 54.4994 11.38 54.5009H45.11C45.5014 54.5036 45.8847 54.3886 46.21 54.171C46.4866 53.9888 46.7135 53.7409 46.8706 53.4494C47.0277 53.158 47.1099 52.8321 47.11 52.5009V51.7409C47.1104 51.3204 46.9782 50.9105 46.7322 50.5694C46.4863 50.2283 46.1391 49.9734 45.74 49.8409Z" fill="#999999"/>
            <path d="M52.991 40.119H51.002V38.127C51.002 37.5965 50.7913 37.0878 50.4162 36.7127C50.0411 36.3377 49.5324 36.127 49.002 36.127C48.4716 36.127 47.9628 36.3377 47.5878 36.7127C47.2127 37.0878 47.002 37.5965 47.002 38.127V40.1159H45.01C44.4796 40.1159 43.9708 40.3266 43.5958 40.7017C43.2207 41.0768 43.01 41.5855 43.01 42.1159C43.01 42.6464 43.2207 43.1551 43.5958 43.5302C43.9708 43.9052 44.4796 44.1159 45.01 44.1159H46.998V46.1039C46.998 46.6344 47.2087 47.1431 47.5838 47.5182C47.9589 47.8932 48.4676 48.1039 48.998 48.1039C49.5284 48.1039 50.0372 47.8932 50.4122 47.5182C50.7873 47.1431 50.998 46.6344 50.998 46.1039V44.1159H52.987C53.5174 44.1159 54.0261 43.9052 54.4012 43.5302C54.7763 43.1551 54.987 42.6464 54.987 42.1159C54.9862 41.5867 54.7757 41.0794 54.4016 40.7051C54.0274 40.3308 53.5202 40.12 52.991 40.119Z" fill="#000000"/>
            </svg>
          <span class="link-text">Update User</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <svg width="800px" height="800px" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M38.87 27.571C38.8647 25.6242 38.0883 23.7587 36.7108 22.3831C35.3333 21.0074 33.4668 20.2336 31.52 20.231C29.5748 20.2357 27.7106 21.0106 26.3351 22.386C24.9596 23.7615 24.1847 25.6257 24.18 27.571C24.1826 29.5178 24.9565 31.3842 26.3322 32.7617C27.7078 34.1393 29.5732 34.9157 31.52 34.921C33.4684 34.9178 35.336 34.1424 36.7137 32.7647C38.0914 31.387 38.8668 29.5193 38.87 27.571Z" fill="#000000"/>
            <path d="M32.39 38.921H30.65C27.3861 38.9239 24.2567 40.2218 21.9487 42.5298C19.6408 44.8377 18.3429 47.9671 18.34 51.231V57.601H44.7V51.231C44.6971 47.9671 43.3992 44.8377 41.0913 42.5298C38.7833 40.2218 35.6539 38.9239 32.39 38.921Z" fill="#000000"/>
            <path d="M51.52 5.60095H11.52C9.92869 5.60095 8.40256 6.23309 7.27734 7.35831C6.15213 8.48353 5.51999 10.0097 5.51999 11.601V51.601C5.51999 53.1922 6.15213 54.7184 7.27734 55.8436C8.40256 56.9688 9.92869 57.601 11.52 57.601H14.34V51.231C14.3425 48.0404 15.2795 44.9205 17.0354 42.2565C18.7912 39.5925 21.2889 37.5013 24.22 36.2409C22.9529 35.1797 21.9344 33.8531 21.2363 32.355C20.5382 30.8569 20.1776 29.2237 20.18 27.571C20.1845 24.5648 21.3807 21.683 23.5064 19.5573C25.6321 17.4316 28.5138 16.2355 31.52 16.231C34.5277 16.2333 37.4118 17.4285 39.5395 19.5544C41.6672 21.6802 42.865 24.5632 42.87 27.571C42.8724 29.2237 42.5118 30.8569 41.8137 32.355C41.1156 33.8531 40.0971 35.1797 38.83 36.2409C41.7587 37.5034 44.2539 39.5955 46.0078 42.2592C47.7617 44.9229 48.6976 48.0417 48.7 51.231V57.601H51.52C53.1113 57.601 54.6374 56.9688 55.7626 55.8436C56.8879 54.7184 57.52 53.1922 57.52 51.601V11.601C57.52 10.0097 56.8879 8.48353 55.7626 7.35831C54.6374 6.23309 53.1113 5.60095 51.52 5.60095Z" fill="#999999"/>
            </svg>
          <span class="link-text">User Privileges</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <svg width="800px" height="800px" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M48.86 5.62695H21.89C20.1696 5.6296 18.5203 6.31419 17.3038 7.53073C16.0872 8.74727 15.4027 10.3965 15.4 12.1169V25.597H23.38C23.3887 24.0243 24.0176 22.5186 25.13 21.407C26.2529 20.279 27.7772 19.6424 29.3688 19.6367C30.9603 19.6311 32.4892 20.257 33.62 21.377L39.61 27.3369C39.62 27.3469 39.62 27.3469 39.62 27.3569C39.9257 27.6633 40.1973 28.002 40.43 28.3669C40.5396 28.538 40.6398 28.7149 40.73 28.8969L40.737 28.912C40.6453 28.7245 40.5428 28.5425 40.43 28.3669C40.5474 28.553 40.6545 28.7452 40.751 28.9429C40.807 29.0429 40.851 29.1549 40.896 29.2619C40.9779 29.4461 41.0493 29.6347 41.11 29.8269C41.0534 29.644 40.9867 29.4644 40.91 29.2889C40.932 29.3419 40.962 29.389 40.982 29.447C41.032 29.577 41.072 29.6969 41.112 29.8269C41.2931 30.3994 41.3842 30.9965 41.382 31.597C41.3826 32.1834 41.295 32.7666 41.122 33.3269C41.0737 33.5151 41.0102 33.6991 40.932 33.877C40.8589 34.0582 40.7754 34.2352 40.682 34.407C40.5916 34.5792 40.4915 34.7462 40.382 34.907C40.1627 35.2432 39.9079 35.555 39.622 35.8369L33.642 41.847C33.0843 42.4092 32.4207 42.8551 31.6894 43.1589C30.9581 43.4628 30.1739 43.6185 29.382 43.6169C27.7973 43.6196 26.2761 42.9939 25.152 41.877C24.0247 40.7531 23.3884 39.2287 23.382 37.6369V37.597H15.402V51.067C15.402 52.7891 16.0854 54.4409 17.3022 55.6596C18.5191 56.8783 20.1698 57.5643 21.892 57.567H48.862C50.5842 57.5643 52.2349 56.8783 53.4517 55.6596C54.6685 54.4409 55.352 52.7891 55.352 51.067V12.1169C55.3493 10.3962 54.6645 8.74662 53.4475 7.53003C52.2305 6.31343 50.5808 5.62907 48.86 5.62695Z" fill="#999999"/>
            <path d="M15.4 33.601H19.4H30.567L28.467 35.719L27.974 36.219C27.94 36.253 27.916 36.293 27.885 36.329C27.8281 36.3908 27.775 36.4559 27.726 36.524C27.701 36.562 27.684 36.604 27.661 36.643C27.6161 36.717 27.576 36.7939 27.541 36.873C27.529 36.902 27.524 36.932 27.513 36.962C27.4775 37.0553 27.4494 37.1513 27.429 37.249C27.429 37.26 27.429 37.271 27.429 37.282C27.4081 37.3889 27.3957 37.4972 27.392 37.606H27.399C27.3949 37.8733 27.4448 38.1387 27.5457 38.3863C27.6465 38.6339 27.7963 38.8586 27.986 39.047C28.1712 39.232 28.391 39.3787 28.633 39.4786C28.875 39.5784 29.1342 39.6295 29.396 39.629C29.6597 39.6296 29.9208 39.5778 30.1642 39.4765C30.4077 39.3752 30.6286 39.2265 30.814 39.039L36.801 33.019C36.817 33.004 36.827 32.985 36.842 32.969C36.9154 32.8913 36.9823 32.8077 37.042 32.719C37.067 32.681 37.084 32.64 37.106 32.601C37.1511 32.5285 37.1912 32.453 37.226 32.375C37.247 32.325 37.258 32.275 37.275 32.219C37.3008 32.1479 37.3225 32.0755 37.34 32.002C37.3559 31.9081 37.3652 31.8132 37.368 31.718C37.368 31.681 37.379 31.646 37.379 31.609V31.603C37.3788 31.4713 37.3654 31.34 37.339 31.211C37.3139 31.0878 37.277 30.9672 37.229 30.851V30.838C37.18 30.7227 37.1205 30.6122 37.051 30.508L37.044 30.494C36.9707 30.3864 36.8873 30.2859 36.795 30.194L30.802 24.235C30.4259 23.8611 29.9167 23.652 29.3864 23.6535C28.856 23.655 28.348 23.867 27.974 24.243C27.6113 24.6081 27.4041 25.0995 27.396 25.614H27.388V25.654C27.3926 25.7506 27.4032 25.8468 27.42 25.942C27.42 25.977 27.42 26.012 27.432 26.047C27.444 26.082 27.446 26.091 27.452 26.113C27.4769 26.2192 27.5104 26.3232 27.552 26.424C27.558 26.439 27.568 26.452 27.575 26.467C27.6188 26.5688 27.671 26.6668 27.731 26.76C27.8041 26.8727 27.8882 26.9779 27.982 27.074L30.539 29.612H11.41C10.8795 29.612 10.3709 29.8227 9.99579 30.1978C9.62072 30.5729 9.40997 31.0816 9.40997 31.612C9.40997 32.1424 9.62072 32.6511 9.99579 33.0262C10.3709 33.4013 10.8795 33.612 11.41 33.612H15.402L15.4 33.601Z" fill="#000000"/>
            </svg>
          <span class="link-text">Log Out</span>
        </a>
      </li>

      <li class="nav-item" id="themeButton">
        <a href="#" class="nav-link">
          <svg
            class="theme-icon"
            id="lightIcon"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="moon-stars"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-moon-stars fa-w-16 fa-7x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M320 32L304 0l-16 32-32 16 32 16 16 32 16-32 32-16zm138.7 149.3L432 128l-26.7 53.3L352 208l53.3 26.7L432 288l26.7-53.3L512 208z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M332.2 426.4c8.1-1.6 13.9 8 8.6 14.5a191.18 191.18 0 0 1-149 71.1C85.8 512 0 426 0 320c0-120 108.7-210.6 227-188.8 8.2 1.6 10.1 12.6 2.8 16.7a150.3 150.3 0 0 0-76.1 130.8c0 94 85.4 165.4 178.5 147.7z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <svg
            class="theme-icon"
            id="solarIcon"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="sun"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-sun fa-w-16 fa-7x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M502.42 240.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.41-94.8a17.31 17.31 0 0 0-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4a17.31 17.31 0 0 0 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.41-33.5 47.3 94.7a17.31 17.31 0 0 0 31 0l47.31-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3a17.33 17.33 0 0 0 .2-31.1zm-155.9 106c-49.91 49.9-131.11 49.9-181 0a128.13 128.13 0 0 1 0-181c49.9-49.9 131.1-49.9 181 0a128.13 128.13 0 0 1 0 181z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M352 256a96 96 0 1 1-96-96 96.15 96.15 0 0 1 96 96z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <svg
            class="theme-icon"
            id="darkIcon"
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="sunglasses"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="svg-inline--fa fa-sunglasses fa-w-18 fa-7x"
          >
            <g class="fa-group">
              <path
                fill="currentColor"
                d="M574.09 280.38L528.75 98.66a87.94 87.94 0 0 0-113.19-62.14l-15.25 5.08a16 16 0 0 0-10.12 20.25L395.25 77a16 16 0 0 0 20.22 10.13l13.19-4.39c10.87-3.63 23-3.57 33.15 1.73a39.59 39.59 0 0 1 20.38 25.81l38.47 153.83a276.7 276.7 0 0 0-81.22-12.47c-34.75 0-74 7-114.85 26.75h-73.18c-40.85-19.75-80.07-26.75-114.85-26.75a276.75 276.75 0 0 0-81.22 12.45l38.47-153.8a39.61 39.61 0 0 1 20.38-25.82c10.15-5.29 22.28-5.34 33.15-1.73l13.16 4.39A16 16 0 0 0 180.75 77l5.06-15.19a16 16 0 0 0-10.12-20.21l-15.25-5.08A87.95 87.95 0 0 0 47.25 98.65L1.91 280.38A75.35 75.35 0 0 0 0 295.86v70.25C0 429 51.59 480 115.19 480h37.12c60.28 0 110.38-45.94 114.88-105.37l2.93-38.63h35.76l2.93 38.63c4.5 59.43 54.6 105.37 114.88 105.37h37.12C524.41 480 576 429 576 366.13v-70.25a62.67 62.67 0 0 0-1.91-15.5zM203.38 369.8c-2 25.9-24.41 46.2-51.07 46.2h-37.12C87 416 64 393.63 64 366.11v-37.55a217.35 217.35 0 0 1 72.59-12.9 196.51 196.51 0 0 1 69.91 12.9zM512 366.13c0 27.5-23 49.87-51.19 49.87h-37.12c-26.69 0-49.1-20.3-51.07-46.2l-3.12-41.24a196.55 196.55 0 0 1 69.94-12.9A217.41 217.41 0 0 1 512 328.58z"
                class="fa-secondary"
              ></path>
              <path
                fill="currentColor"
                d="M64.19 367.9c0-.61-.19-1.18-.19-1.8 0 27.53 23 49.9 51.19 49.9h37.12c26.66 0 49.1-20.3 51.07-46.2l3.12-41.24c-14-5.29-28.31-8.38-42.78-10.42zm404-50l-95.83 47.91.3 4c2 25.9 24.38 46.2 51.07 46.2h37.12C489 416 512 393.63 512 366.13v-37.55a227.76 227.76 0 0 0-43.85-10.66z"
                class="fa-primary"
              ></path>
            </g>
          </svg>
          <span class="link-text">Theme</span>
        </a>
      </li>
    </ul>
  </nav>